{% extends 'base.html'%}
{% block content %}
    <h3>축제 표시할 main 페이지</h3>

    <a href="{%url 'writing'%}"> 글쓰기</a>

    <h5>축제 목록</h5>
    {% for festival in festivals %}
    <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              {% if festival.image %}
              <img src="{{ festival.image.url }}" alt="Image">
              {% endif %}
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{festival.title}}</strong> <small>{{festival.period}}</small> <small>31m</small>
                <br>
               {{festival.link}}
               <button type = 'submit'><a href="{%url 'detail' festival.id%}">더보기</a></button>

               <button><a href="{%url 'edit' festival.id%}">수정하기</a></button>
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      {% endfor %}
{% endblock %}
